// Heights + Widths
$small-image-height: 			150px;
$small-image-width: 			200px;
$medium-image-height: 			309px;
$medium-image-width: 			549px;
$large-image-height: 			360px;
$large-image-width: 			640px;

$video-list-view-height: 		18%;
$ribbon-height:					0.5%;
$video-theater-view-height: 	100% - $video-list-view-height - 1%;

// Colors
$dark-grey: 	#202020;
$dark-grey-2: 	#333;
$off-white:		#DCFFE4;
$off-green:		#9CFFC4;

// Z-indexes
$video-info-pane-region-z-index:	30;
$curtains-region-z-index:			70;
$video-theater-region-z-index:		10;