.video-list-item-view {

  @include font;
  display: inline-block;
  height: 90%;
  width: 175px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 7px;
  // Horizontal scroll:
  white-space: normal;
  text-align: center;
  color: $off-white;
  overflow: hidden;

  .wrapper {
    background-color: rgba(0,0,0,0.6);
  }

}
